* {
    margin: none;
    padding: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
    gap: 5vw;
    background-color: #959bbe;
}

#grid {
    width: 70vh;
    height: 70vh;
    border: 1px solid #000000;
    display: grid;
    background-color: #F1F1F1;
}

.rangeDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paitingSettings {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    border: 1px solid black;
    align-items: center;
    padding: 5vh 6.5vh;
    border-radius: 30px;
    background-color: #01061db2;
}

input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
  }
  
  input[type='color'] {
    -webkit-appearance: none;
    width: 100px;
    height: 100px;
    background: none;
    border: none;
  }
  
  input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  button {
      width: 250px;
      height: 60px;
      background-color: #8287a5;
      border: none;
      border-radius: 30px;
      transition: 300ms;
      color: #F1F1F1;
      font-size: 15px;
  }

  button:disabled {
    background-color: #4c5062;
  }

  button:disabled:hover {
    background-color: #5a5e70;
  }
  
  button:hover {
    background-color: #757A95;
  }

  button:active {
    background-color: #4c5062;
  }

  
  .display {
    color: #F1F1F1;
    font-size: 23px;
  }


  input[type=range] {
    height: 33px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background: none;
    transform: scale(1.2);
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 174px;
    height: 2px;
    cursor: pointer;
    background:  #007AFF;
    border-radius: 3px;
  }

  input[type=range]::-webkit-slider-thumb {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #F1F1F1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -12.5px;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.16), 0px 3px 1px rgba(0, 0, 0, 0.1);
  }